<!doctype html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//malsup.github.com/jquery.form.js"></script> 
</head>
<body>
    <div id="exprSchedule"></div>
    <form id="exprForm" action="index.php/next-runs" method="get">
        {{ form_widget(form) }}
    
        <input type="submit" name="submit" />
    </form>
    <script type="text/javascript">
       jQuery(function($) {
           $("#exprForm").ajaxForm({
                success: function(resp) {
                    $("#exprSchedule").html(resp);
                }
           }); 
       });
    </script>
</body>
</html>