<!doctype html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//malsup.github.com/jquery.form.js"></script> 
</head>
<body>
    <style>
        label {
            width: 100px;
            margin-right: 10px;
            display: inline-block;
        }
    </style>
    <div id="exprSchedule" style="float:left; margin-right: 10px;"></div>
    <form id="exprForm" action="index.php/next-runs" method="get">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
        
    <pre>
*    *    *    *    *    *
-    -    -    -    -    -
|    |    |    |    |    |
|    |    |    |    |    + year [optional]
|    |    |    |    +----- day of week (0 - 7) (Sunday=0 or 7)
|    |    |    +---------- month (1 - 12)
|    |    +--------------- day of month (1 - 31)
|    +-------------------- hour (0 - 23)
+------------------------- min (0 - 59)    
    </pre>
    
    <a href="http://en.wikipedia.org/wiki/Cron#CRON_expression">Detailed Docs</a>
    
    <script type="text/javascript">
       jQuery(function($) {
           $("#exprForm").ajaxForm({
                success: function(resp) {
                    $("#exprSchedule").html(resp);
                }
           }); 
       });
    </script>
</body>
</html>